// * {
//     border: 1px solid black;
// }

.intro {
    padding-left: 10em;
    padding-right: 10em;
    padding-top: 5em;
    padding-bottom: 5em;
    .intro-1 {
        font-size: $small-font-size;
    }
    .intro-2 {
        font-size: $big-font-size;
        color: $color-primary;
    }
    .intro-3 {
        font-size: $normal-font-size;
    }
}

.showcase {
    padding-left: 10em;
    padding-right: 10em;
    padding-bottom: 5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2em;
    a {
        color: inherit;
        text-decoration: none;
    }
    .showcase-1 {
        grid-row: 1;
        grid-column: 1;
        position: relative;
        .showcase-1-text {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            background-color: rgba(255, 250, 242, 0.9);
            position: absolute;
            padding: 20px;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity .3s, visibility .3s;
            visibility: hidden;
            .showcase-1-text-1 {
                font-weight: bold;
                font-size: $normal-font-size;
            }
            .showcase-1-text-2 {
                font-size: $small-font-size;
            }
        }
        &:hover {
            .showcase-1-text {
                visibility: visible;
                opacity: 1;
            }
        }
    }
    .showcase-2 {
        grid-row: 1;
        grid-column: 2;
        position: relative;
        .showcase-2-text {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            background-color: rgba(255, 250, 242, 0.9);
            position: absolute;
            padding: 20px;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity .3s, visibility .3s;
            visibility: hidden;
            .showcase-2-text-1 {
                font-weight: bold;
                font-size: $normal-font-size;
            }
            .showcase-2-text-2 {
                font-size: $small-font-size;
            }
        }
        &:hover {
            .showcase-2-text {
                visibility: visible;
                opacity: 1;
            }
        }
    }
    .showcase-3 {
        grid-row: 2;
        grid-column: 1;
        position: relative;
        .showcase-3-text {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            background-color: rgba(255, 250, 242, 0.9);
            position: absolute;
            padding: 20px;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity .3s, visibility .3s;
            visibility: hidden;
            .showcase-3-text-1 {
                font-weight: bold;
                font-size: $normal-font-size;
            }
            .showcase-3-text-2 {
                font-size: $small-font-size;
            }
        }
        &:hover {
            .showcase-3-text {
                visibility: visible;
                opacity: 1;
            }
        }
    }
    .showcase-4 {
        grid-row: 2;
        grid-column: 2;
        position: relative;
        .showcase-4-text {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            background-color: rgba(255, 250, 242, 0.9);
            position: absolute;
            padding: 20px;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity .3s, visibility .3s;
            visibility: hidden;
            .showcase-4-text-1 {
                font-weight: bold;
                font-size: $normal-font-size;
            }
            .showcase-4-text-2 {
                font-size: $small-font-size;
            }
        }
        &:hover {
            .showcase-4-text {
                visibility: visible;
                opacity: 1;
            }
        }
    }
    img {
        width: 100%;
        height: 100%;
    }
}

.about {
    padding-top: 5em;
    padding-left: 10em;
    padding-right: 10em;
    padding-bottom: 15%;
    .about-text {
        font-size: $big-font-size;
        font-weight: bold;
        padding-bottom: 3%;
    }
    .about-bio {
        .about-bio-image {
            text-align: center;
            padding-bottom: 5em;
        }
        .about-bio-text {
            padding-left: 5%;
            padding-bottom: 2%;
            font-size: $small-font-size;
        }
        .about-bio-resume {
            text-align: center;
            a {
                color: $color-secondary;
                text-decoration: underline;
            }
        }
    }
}

.footer {
    background: $color-dark;
    color: white;
    padding-bottom: 5em;
    .footer-1 {
        padding-left: 5em;
        padding-top: 2em;
        font-size: $big-font-size;
        font-weight: bold;
    }
    .footer-2 {
        padding-left: 14em;
        padding-top: 3em;
        font-size: $small-font-size;
    }
}