$default-font: Libre Franklin;
$big-font-size: 36px;
$normal-font-size: 24px;
$small-font-size: 18px;
$color-primary: #D86837;
$color-secondary: #4F5D75;
$color-dark: #2D3142;
$color-black: #333333;
$color-grey: #BFC0C0;
$color-light: #FFFAF2;